.box {
    background-image: url('../images/deadpool-showering-with-bullet-a3ipzwb2ydxkv1cx.jpeg');
    height: 100vh;
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
}

.image {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 50vh;
    width: 50vh;
    padding: 20px 0 0 24px;
    column-gap: 10px;
}

.margin {
    margin-top: 12px;
}

@media only screen and (max-width: 992px) {
    .margin{
        margin-top: 0px;
    }
}