.header {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #010101;
    align-self: stretch;
    color: white;
}

.h1 {
    font-family: Helvetica Neue;
    text-align: left;
    font-weight: bold;
    font-size: 10px;
    color: white;
}

